<launch>
  <!-- Remap the name space so it can send command to gazebo loaded controller -->
  <!-- this remap must appear BEFORE move_group launch -->
  <remap from="/follow_joint_trajectory" to="/xarm/arm_controller/follow_joint_trajectory"/>

  <include file="$(find xarm5_moveit_config_jan)/launch/moveit_gazebo_jan.launch">
  </include>

  
</launch>
