<?xml version="1.0"?>
<launch>
 
 <master auto="start"/>
	
	<remap from="/point_cloud" to="/kinect/depth/points"/>
    <remap from="/map" to="/rtabmap/grid_prob_map"/>
    <remap from="/move_base_simple/goal" to="/move_base_simple/goal"/>
	<remap from="/cmd_vel" to="/skid4wd/drive_controller/cmd_vel"/>
    <remap from="/odom" to="/skid4wd/drive_controller/odom"/>
	
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<!-- 
	<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />-->
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	
    <rosparam file="$(find skid4wd_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find skid4wd_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find skid4wd_description)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find skid4wd_description)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find skid4wd_description)/config/base_local_planner_params.yaml" command="load" />
	
	<param name="recovery_behavior_enabled" value="false"/> 
    <param name="recovery_behaviour_enabled" value="false"/> 
    <param name="clearing_rotation_allowed" value="false"/>
    <param name="planner_frequency" value="40.0"/> 
 </node>
</launch> 