<launch>

	<node pkg="tf" type="static_transform_publisher" name="base_map_odom" args="0 0 -0.11 0 0 0 /skid4wd/odom /map 50" />
	<!--
	<node pkg="tf" type="static_transform_publisher" name="base_map_base_lin2" args="0 0 0 0 0 0 /odom /skid4wd/base_link 50" />
	<node pkg="tf" type="static_transform_publisher" name="base_map_base_lin2" args="0 0 0 0 0 0 /odom /skid4wd/odom 50" />  -->
	 
	<node pkg="tf" type="static_transform_publisher" name="camera_mount_tf" args="0 0 0.42 -1.57079 0 -1.57079 /skid4wd/base_link skid4wd/camera_mount 50" />
	
	
	
	<!--
	<node pkg=" tf"  type=" static_transform_publisher" name="depth_frame" args="0 0 0 0 0 0 /skid4wd/base_link /camera_depth_frame 100"/>
	<node pkg=" tf"  type=" static_transform_publisher" name="rgb_frame" args="0 0 0 0 0 0 /skid4wd/base_link /camera_rgb_optical_frame 100"/>

	<node pkg=" tf"  type=" static_transform_publisher" name="depth_frame2" args="0 0 0 0 0 0 /skid4wd/camera_mount /camera_depth_frame 100"/>
	<node pkg=" tf"  type=" static_transform_publisher" name="rgb_frame2" args="0 0 0 0 0 0 /skid4wd/camera_mount /camera_rgb_optical_frame 100"/>
	-->
  
   <group ns="rtabmap">

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/kinect/color/image_raw"/>
      <remap from="depth/image"     to="/kinect/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/kinect/color/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/> 
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start localization:=true">
          <param name="frame_id" type="string" value="/skid4wd/base_link"/>

          <param name="subscribe_depth" type="bool" value="false"/>
          <param name="subscribe_rgbd" type="bool" value="true"/>

          <remap from="odom" to="/skid4wd/drive_controller/odom"/>

          <remap from="rgbd_image" to="rgbd_image"/>

          <param name="queue_size" type="int" value="100"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
		  
		  <!-- Some tweaking arguments -->
		  <param name="cloud_noise_filtering_radius" value="0.05"/>
		  <param name="cloud_noise_filtering_min_neighbors" value="2"/>
		  <!--
		  <param name="proj_max_ground_angle" value="55"/>
		  <param name="proj_max_ground_height" value="0.1"/>
		  <param name="proj_max_height" value="2.0"/>
		  <param name="proj_min_cluster_size" value="20"/>
		  -->
    </node>
	
  </group>
  <!-- Spawn navigation stack -->
  <!--  
  <include file="$(find skid4wd_description)/launch/navigation.launch"/> -->
  
</launch>