<launch>
    <!-- Default: Empty World -->
    <arg name="world_name" default="worlds/empty.world"/>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="/home/jab/Documents/gazebo_models_worlds_collection/worlds/small_city.world"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Spawn URDF Model -->
    <include file="$(find skid4wd_description)/launch/spawn.launch"/>

    <!-- Spawn Controllers -->
    <include file="$(find skid4wd_description)/launch/controller.launch"/>
    
    <!-- Spawn GPS server 
    <include file="$(find skid4wd_description)/launch/gazebo_GPS_server.launch"/>-->
	
	<!-- Spawn RTABMAP server
    <include file="$(find skid4wd_description)/launch/rta_bmap.launch"/>-->
</launch>
